@import "_bootstrap_custom";
@import "reset";
@import "vgrid";
@import 'utils';

/* Variables	*/
$marginauto: 0 auto;
$topbottom : 1em auto;
$padding : 0.5em;
$defaultborder: 1px solid #e5e5e5;

*{
	margin:0;
	padding: 0;
	font-family: Arial;
	font-size: 14px;
	input {
		padding: $padding;
	}
}

// CONTAINER
.container {
	@include mk-container();	
	// Titulo
	h1 {
		margin: $topbottom;
		@extend .text-center;
		font-size: $font-size-h1;
	}
	//	Subtitulo
	h2 {
		margin: $topbottom;
		@extend .text-center;
		font-size: $font-size-h2;
	}	
	p{
		margin: $topbottom;
	}

	// BOXES
	.row {
		width: 90%;
		margin: 2em auto;
		padding: 1em;
		//border: $defaultborder;
		overflow: hidden;
		// boxes
		.boxes {
			margin: $marginauto;
			li{
				width: 32.5%;
				min-height:200px;
				padding: 1em;
				margin: 1em 0.4%;
				border: $defaultborder;
				background-color: #f2f2f2;
				float: left;
				box-shadow: 0 1px 1px 0 #eee;
				overflow: hidden;
					@media (max-width: 600px) {
						width: 100%;
						height:75px;
						float: none;
					}
			}			
			@extend %clearfix;
		}	// end boxes

		//	table
		.table{
			@extend .text-center;
			tr:first-child{
				background-color: #eee;
			}	
			.coin {
				padding:  9px;
			/*	background-color: #333;
				color: #FFF;
				font-weight: bold;
				border-radius: 0 5px 5px 0 ;
					@media (max-width: $md-screen) {
						width: 6px;
						//display: block;
					}*/
			}
		}	//	end table

		.data {			
			input {
				display: block;
				width: 50%;
			}	
		}

	}	//	end row
	

} // END CONTAINER

// input size
.sm-box{
	width: 50px;
}
.md-box {
	width: 30%;
	box-sizing: border-box;
	/*@media (min-width: $sm-screen) {
		width: 47%;	
	}*/
}
.lg-box{
	width:80%;
}

// text novios/cuenta
.text {
	width: 15%;
	display: inline-block;
	@media (max-width: $md-screen) {
		width: 100%;
		//display: block;
	}
}	

// social
.social {
	display:none;
}		