/* 1. - Columns settings
————————————————————————————————————————————— */

$cols-per-row: 12;   // Columns per row
$padding-width: 15px; // Padding between columns


/*  2. - Width Variables
————————————————————————————————————————————— */

$sm-screen: (720px  + $padding-width*2);
$md-screen: (940px  + $padding-width*2);
$lg-screen: (1140px + $padding-width*2);



/* 3. - Body font-size
————————————————————————————————————————————— */

body {
	margin: 0;

	// Change font size
	// Use em for all the font-size in your custom css
	font-size: 14px;
	@media (min-width: $sm-screen) {
		font-size: 14px;
	}
	@media (min-width: $md-screen) {
		font-size: 15px;
	}
	@media (min-width: $lg-screen) {
		font-size: 16px;
	}
}




/* 3. - Container
————————————————————————————————————————————— */

@mixin mk-container() {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left:  ($padding-width/2);
	padding-right: ($padding-width/2);
	box-sizing: border-box;
	@extend %clearfix;

	@media (min-width: $sm-screen) {
		width: $sm-screen;
	}
	@media (min-width: $md-screen) {
		width: $md-screen;
	}
	@media (min-width: $lg-screen) {
		width: $lg-screen;
	}
}




/* 4. - Columns
————————————————————————————————————————————— */

@mixin col() {
	float: left;
	padding-left:  ($padding-width/2);
	padding-right: ($padding-width/2);
}

/* Make Columns Mixins
*/
@mixin mk-xs-col($columns) {
	width: percentage($columns / $cols-per-row);
}
@mixin mk-sm-col($columns) {
	@media (min-width: $sm-screen) {
		width: percentage($columns / $cols-per-row);
	}
}
@mixin mk-md-col($columns) {
	@media (min-width: $md-screen) {
		width: percentage($columns / $cols-per-row);
	}
}
@mixin mk-lg-col($columns) {
	@media (min-width: $lg-screen) {
		width: percentage($columns / $cols-per-row);
	}
}

/* 4. - Hide Mixins
————————————————————————————————————————————— */

@mixin xs-hide {
	@media (max-width: $sm-screen) {
		display: none;
	}
}
@mixin sm-hide {
	@media (min-width: $sm-screen) and (max-width: $md-screen) {
		display: none;
	}
}
@mixin md-hide {
	@media (min-width: $md-screen) and (max-width: $lg-screen) {
		display: none;
	}
}
@mixin lg-hide {
	@media (min-width: $lg-screen) {
		display: none;
	}
}
